body {
    font-family: "Geom", sans-serif;
    background-color: #f3e0e2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    box-shadow: 10px 10px 42px #000000c0;
    border-radius: 20px;
    overflow: hidden;
}

main>* {
    flex-basis: 100%;

}

.login-form {
    background-color: #fff;
    text-align: center;

}

.login-form-heading {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3rem;

}

.fa-brands,
.fab {
    font-weight: 400;
    border: 2px solid #fff;
    padding: 15px;
    font-size: 30px;
    border-radius: 50%;
    height: 60px;
    margin-bottom: 30px;
}

input {
    width: 70%;
    padding: 15px;
    font-size: 1.1rem;
    margin-bottom: 15px;
    margin-top: 10px;
    border: none;

}

form a {
    text-decoration: none;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.379);
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #FF4B2B;
    width: 17%;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}

.login-text {
    background-image: linear-gradient(to right, #ff000d, #FF416A);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text h2 {
    font-size: 3rem;
    color: #fff;
}

.text p {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 20px;
}

.text {
    padding: 2rem;
}




